<%- include('templates/header'); %>

    <h1>Rivas Roller</h1>

    <form>
        <input id="user"  type="text" placeholder="Introduce tu usuario" required>
        <input id="password" type="password" placeholder="Introduce tu password" required>
        <button>Entrar</button>
        
    </form>



