<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivas Roller</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>

<main>
    
        <figure>
            <img class="avatar" src="img/logo5.png" alt="Logo de Rivas Roller">
        </figure>
        <h1>Rivas Roller </h1>
        
        <!--Formulario login-->
        <form action="/user/signIn" method="post">
            <!--user name-->
            <input id="user" type="email" name="email" placeholder="Email" required>
            <!--user password-->    
            <input id="password" type="password" name="password" placeholder="Password" required>
            <button >Sign in</button>
        </form>

        <button id="btn_forgot" onclick="window.location.href='/user/recovery'">Forgot password?</button>
        <p id="created_count">Create an account </p>
        <button onclick="window.location.href='/user/new'">Sign Up</button>
        <p id="or">Or</p>
        <div class="alternative">
            <button id="btn_alternative" ><img src="img/google.png "></button>
            <button id="btn_alternative"><img src="img/github.png "></button>
        </div>

   
        
</main>