<%- include('templates/header'); %>

<main>

    <div>
        <input type="search" name="search" placeholder="Search">
        
    </div>

    <!--Publicación-->
    <div class="publish">

        <div>
            <h3 id="user"></h3>
            <img class="img_avatar" src="img/avatar.png" alt="Imagen de usuario">
        </div>
        
        <div>
            <img class="img_avatar2" src="img/avatar.png" alt="Imagen de publicación">
            
            
        </div>

        <div>
            <i class="fa-solid fa-heart"></i>
            <span id="number1">1</span>

            <link rel="coment">
            <span id="number2">2</span>
        </div>

        <div class="publish_text">
        <p>cualquier <a href="#">Más</a> </p>
            
        </div>

        <div>
            <a href="#">Mostrar los demás comentarios</a>
        </div>

        <div>
            <p>Comentarios con mas like</p>
        </div>

        <div>
            <p>tiempo de --Publicación--</p>
        </div>









    </div>


    <!--Like-->       <!--Comentarios-->
    <!--A que hora-->


</main>

<%- include('templates/footer'); %>