<%- include('templates/header'); %>

<main>
    <h1 id="name_app">Rivas Roller</h1>

    <div class="publish">
        <input type="search" name="search" placeholder="Search">
        
    </div>

    <!--Publicaci칩n-->
    <div class="content_publish">

        <div class="user_profile">
            <img class="img_avatar" src="img/avatar.png" alt="Imagen de usuario">
            <p id="user">Name user</p>
        </div>


        <figure>
            <img id="img_user" src="img/avatar.png" alt="Imagen de publicaci칩n">
        </figure>   
        

        
        <div class="like_and_coment">
            <i class="fa-solid fa-heart"></i>
            <span id="number1">1</span>

            <link rel="coment">
            <i class="fa-solid fa-comment"></i>
            <span id="number2">2</span>
        </div>

        <div class="publish_text">
            <p>Les gusta a Maria y 3 personas <a href="#">M치s</a> </p>
        </div>

        <div class="publish_text_more_like">
            <p>Comentarios con mas like</p>
        </div>

        <div class="publish_text_all_comments">
            <a href="#">Mostrar los dem치s comentarios</a>
        </div>

        <div class="time_publish">
            <p>Hace 2 horas</p>
        </div>

       

        
        


    </div>


    <!--Like-->       <!--Comentarios-->
    <!--A que hora-->




<%- include('templates/footer'); %>