<%- include('templates/header'); %>

<main>
    <h1>Recover password</h1>

    <form action="/user/recovery" method="post">
        <input type="email" name="email" placeholder="Enter you email">
        <button>Send</button>
    </form>
</main>