    <footer>
        <button>agregar publicación</button>
        <button>agregar publicación</button>
        <button>agregar publicación</button>
    </footer>

</main>



<script src="https://kit.fontawesome.com/dbfb5c2c17.js" crossorigin="anonymous"></script>
</body>
</html>