@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
*{
    font-family: 'Fira Sans', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;
    width: 76%;
    padding: 23px 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    border-radius: 59px;

    box-shadow: -5px 4px 17px 6px rgba(47,70,201,0.48);
    -webkit-box-shadow: -5px 4px 17px 6px rgba(47,70,201,0.48);
    -moz-box-shadow: -5px 4px 17px 6px rgba(47,70,201,0.48); 

    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

form input{
    width: 66%;
    font-size: 1em;
    margin: 3px;
    border: none;
    outline: 0px;
    background-color: transparent;
    border-bottom: 1px solid #fcfbfb;
   
}

form input[type="email"]{
    background-image: url(./img/email.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form input[type="password"]{
    background-image: url(./img/password.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
form input[type="text"]{
    background-image: url(./img/password.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

button{
    width: 70%;
    height: 23px;
    font-size: 1rem;
    margin: 5px;
    background-color: #2C8FE8;
    border: none;
    border-radius: 19px;
    color: white; 
}

#btn_alternative{
    width: 40px;
    height: 37px; 
    background: none; 
}

#btn_alternative img{
    width: 33px;
    height: 35px;
}

#btn_forgot{
    background: none;
    margin-top: 0;
    color: black;
}

#created_count{
    margin-bottom: 0;
    margin-top: 40px;
}


div{
    width: 100%;
}

.alternative{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figure img{
   width: 100%;
} 

#or{
    margin-bottom: 0;
    margin-top: 40px;
}

.content_publish{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.content_publish #img_user{
    width: 160%;
    height: 140%;
    margin-top: -25px;
}

.content_publish .user_profile{
   display: flex;
   margin: 0px;
}

.content_publish .user_profile img{
    margin: 10px;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50% ;
    border: 2px solid black;
}

.img_avatar{
    width: 90px;
    height: 60px;
}

.publish{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.publish input{
    border: none;
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border: none;
    outline: 0px;
    background-color: transparent;
    border-bottom: 1px solid #fcfbfb;
}

.publish_text{
    margin: -38px;
    padding: 10px;
}
.publish_text_more_like{
    padding: 4px;
}

.publish_text_all_comments {
    margin:  0px;
    margin-top: -13px;
}

.time_publish{
    margin-top: -10px;
}

#name_app{
    margin-top: -5px;
}

.like_and_coment{
    line-height: 88px; 
}
.like_and_coment span{
    margin: 10px;
}

